/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-personal-block {
	background-color: #fff;
	color: rgb(51, 51, 51);
	padding: 2px;
}
