.inptuts-personal input {
    width: 100%;
    margin-bottom: 5%;
}
.inptuts-personal textarea {
    display: block;
    width: 100%;
    margin-bottom: 5%;
}



.lista-categorias-personal {
    display: flex;
    flex-direction: column; 
    padding: 20px;
}

.elemento-categoria {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.elemento-categoria:hover {
    transform: scale(1.05);
}